/* example of website*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
}

#wrapper {
    width: 80%;
    background-color: #fff;
}

#main-navigation {
    background-color: #181818;
    padding: 20px;
}

#main-navigation ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#main-navigation li {
    margin-left: 10px;
}

#main-navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 6px;
}

#main-navigation a.current {
    background-color: #8f746c;
    border-radius: 4px;
}

#lead-banner {
    position: relative;
}

#lead-banner img {
    width: 100%;
}

#lead-banner p {
    position: absolute;
    top: 13%;
    right: 13%;
    width: 40%;
    font-size: 4.6rem;
    line-height: 1.2;
    word-spacing: 2px;
    text-transform: uppercase;
    color: #462d25;
}

#shop {
    position: relative;
}

#shop .product-image {
    width: 100%;
}

#shop .shop-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#shop h2.product-name {
    font-size: 2.2rem;
    text-align: center;
}

#shop span.rating {
    font-size: 5.8rem;
    text-align: center;
}

#shop a.add-to-bag {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #8f746c;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #8f746c;
    transition: color .5s, background-color .5s;
}

#shop a.add-to-bag:hover {
    color: #fff;
    background-color: #8f746c;
}