/* example of website*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    background-color: #eee;
}

#wrapper {
    width: 80%;
    background-color: #fff;
}

#main-navigation {
    background-color: #181818;
    padding: 20px;
}

#main-navigation ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#main-navigation li {
    margin-left: 10px;
}

#main-navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 6px;
}

#main-navigation a.current {
    background-color: #8f746c;
    border-radius: 4px;
}

#lead-banner {
    position: relative;
}

#lead-banner img {
    width: 100%;
}

#lead-banner p {
    position: absolute;
    top: 13%;
    right: 13%;
    width: 40%;
    font-size: 4.6rem;
    line-height: 1.2;
    word-spacing: 2px;
    text-transform: uppercase;
    color: #462d25;
}
