/* example of website*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: #eee;
}

/* #wrapper {
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
} */
