/* Specifity */

/* ID 100 points
   classes 10 points
   element 1 point */

#main-content p {
    color: red;
}

.test {
    color: green;
} /* won't work cause only 10 points*/

p {
    color: black;
}

strong {
    color: green;
} /* works cause it's an explicity rule, there is no overwriting */