/* font-weight */

h1 {
    font-weight: normal;
}

/* p {
    font-weight: bolder;
} */

/* p {
    font-weight: lighter;
    font-family: "Yu Gothic";
} */

p {
    font-weight: 500;
    font-family: "Yu Gothic";
}
